<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="card page-title">
        <div class="card-header">
          <p>ANNOUNCEMENTS</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card"><br>
    <div class="row" padding>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <p style="text-align:center;font-weight:bold;">CREATE ANNOUNCEMENT</p>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="card-body">
      <form (submit)="insertAnn($event)">
        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="inputEmail4">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Title">
          </div>
          <div class="form-group col-md-4">
            <label for="inputPassword4">Posted by</label>
            <input type="text" class="form-control" id="postedby" placeholder="Posted By">
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Announcement Details</label>
          <textarea class="form-control" aria-label="With textarea" placeholder="Announcement Details"
            height="50px;"></textarea>
        </div>
        <div class="form-group">
          <label>Upload Image</label>
          <div class="input-group">
            <span class="input-group-btn">
              <span class="btn btn-default btn-file">
                Upload Image...<input type="file" id="imgInp" (change)="ResizeImage($event)">
              </span>
            </span>
            <img id='img-upload' />
          </div>

        </div>

        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <button type="submit" class="btn btn-block">Send</button>
          </div>
        </div>
      </form><br>
      <hr><br>
      <div class="row" padding>
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <p style="text-align:center;font-weight:bold;">SENT ANNOUNCEMENTS</p>
        </div>
        <div class="col-md-4"></div>
      </div><br>
      <table class="table table-striped">
        <thead>
          <tr class="table-head">
            <td>Title</td>
            <td>Posted by</td>
            <td>Time posted</td>
            <td>Action</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of vData; let i=index">
            <td>{{d.a_title}}</td>
            <td>{{d.a_postedby}}</td>
            <td>{{d.a_timestamp | date:'MMMM dd, yyyy hh:mm a'}}</td>
            <td><button class="btn" (click)="open(content,i)">View</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- MODAL CONTENT -->
  <ng-template #content let-modal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Update Annoucement</h4>
      <button type="button" class="close" aria-label="Close" (click)="c()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (submit)="updateann($event,c)">
        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="title">Title</label>
            <input #updtitle="ngModel" [ngModel]="vData[indx].a_title" type="text" class="form-control" id="updtitle" name="updtitle" placeholder="title" [value]="vData[indx].a_title">
          </div>
          <div class="form-group col-md-4">
            <label for="postedby">Posted by</label>
            <input #updpostedby="ngModel" [ngModel]="vData[indx].a_postedby" type="text" class="form-control" id="updpostedby" name="updpostedby" placeholder="Posted By" [value]="vData[indx].a_postedby">
          </div>
        </div>
        <div class="form-group">
          <label for="announce">Announcement Details</label>
          <textarea #updannouncement="ngModel" [ngModel]="vData[indx].a_announcement" class="form-control" id="updannounce" name="updannounce" aria-label="With textarea" placeholder="Announcement Details" [value]="vData[indx].a_announcement"
            height="50px;"></textarea>
        </div>
        <div class="form-group">
          <label>Upload Image</label>
          <div class="input-group">
            <span class="input-group-btn">
              <span class="btn btn-default btn-file">
                Upload Image...<input type="file" id="updimg" (change)="ResizeImageupd($event)">
              </span>
            </span>
          </div>
          <img  id="upd-img-upload" name="upd-img-upload" [src]="vData[indx].a_image"/>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-dark">Update</button>
          <button type="button" class="btn btn-danger" (click)="c()">Cancel</button>
        </div>
      </form><br>
    </div>
    
  </ng-template>