.card-header-style{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color:black;
}
.pad-top{
    padding-top: 10px;
}
.table-head{
    font-weight:bold;
    // font-size: 10px;
    text-transform: uppercase;
    color:rgb(100, 100, 100);
    
}
.page-title{
    letter-spacing:4px;
    background-color:rgb(33,45,171);
    color:white;
    font-family: Futura;
    font-size: 16px;
    text-align: center;
    font-weight:bold;
}
.mealHeader{
    background-color:rgb(33,45,171);
    text-align:center;
    color:white;
    font-weight:bold;
}
.menuList{
    font-weight:bold;
    color:white;

}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}