<nav class="navbar navbar-expand-lg navbar-absolute fixed-top">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler" (click)="sidebarToggle()">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <!-- <a class="navbar-brand" href="#pablo">{{getTitle()}}</a> -->
      <!-- <a class="navbar-brand" style="font-family: Futura; font-size: 1.3rem;color:rgb(1,11,66);font-weight:bold;">POINT OF SALE SYSTEM</a> -->
    </div>
    <button class="navbar-toggler" type="button" (click)="collapse()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="isCollapsed">
      <!-- <form>
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search..." style="border-color:rgb(1,11,66)">
          <div class="input-group-append">
            <div class="input-group-text">
              <i class="now-ui-icons ui-1_zoom-bold"></i>
            </div>
          </div>
        </div>
      </form> -->
      <div class="row">
          <div class="col-lg-12">
            <p style="text-align:right;">{{test | date:'fullDate'}} | {{test | date:'HH:mm a'}}</p>
          </div>
        </div>

      <ul class="navbar-nav">
       
            <li class="nav-item" ngbDropdown>
              <a class="nav-link" style="color:rgb(1,11,66);font-weight:bold;" id="dropdownBasic1" ngbDropdownToggle>
                <i class="now-ui-icons users_single-02"></i>
                {{usrn}}
                <p>
                  <span class="d-lg-none users_single-02">{{usrn}}</span>
                </p>
              </a>
              <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <a class="dropdown-item" href="#" style="color:red;">Logout</a>
              </div>
            </li>
      </ul>
    </div>
  </div>
</nav>