<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="card page-title">
        <div class="card-header">
          <p>LOGIN RECORD SUMMARY</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6 d-inline-block">
          <button class="btn" style="font-family: Futura;letter-spacing:4px;" (click)="print()">PRINT</button>
        </div>
        <div class="col-lg-6 pad-top">
          <form>
            <div class="input-group no-border justify-content-end">
              <input type="text" id="dsearch" name="dsearch" class="form-control" placeholder="Search..."
                style="border-color:rgb(1,11,66)" [(ngModel)]="vSearch" (keyup.enter)="SearchnDate()">
              <div class="input-group-append">
                <div class="input-group-text">
                  <i class="now-ui-icons ui-1_zoom-bold"></i>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <label for="stdate"><strong>From:</strong></label>
                <input [(ngModel)]="vSearch_from" id="stdate" name="stdate" type="date" placeholder="Date Schedule"
                  class="form-control" (change)="SearchnDate()">
              </div>
              <div class="col-lg-6" *ngIf="vSearch_from!=''">
                <label for="stdate"><strong>To:</strong></label>
                <input [(ngModel)]="vSearch_to" [min]="vSearch_from" id="endate" name="endate" type="date"
                  placeholder="Date Schedule" class="form-control" (change)="SearchnDate()">
              </div>
            </div>
          </form>
        </div>
      </div><br>

      <ngb-tabset>
        <ngb-tab>
          <ng-template ngbTabTitle><b>Students</b></ng-template>
          <ng-template ngbTabContent>
            <table class="table table-striped">
              <thead>
                <tr class="table-head">
                  <td>ID</td>
                  <td>Name</td>
                  <td>Last Login</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let d of vData; let i=index" (click)="open(content,i)">
                  <td>{{d.p_studentid}}</td>
                  <td>{{d.p_name}}</td>
                  <td>{{d.l_timelog | date:'MMMM dd, yyyy hh:mm a'}}</td>
                </tr>
              </tbody>
            </table>

            <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
                </ngb-pagination>
              </div>
              
          </ng-template>
        </ngb-tab>
        <!-- <ngb-tab>
        <ng-template ngbTabTitle><b>Employees</b></ng-template>
          <ng-template ngbTabContent>
            <table class="table table-striped">
              <thead>
                <tr class="table-head">
                  <td>ID</td>
                  <td>Name</td>
                  <td>Last Login</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>200000001</td>
                  <td>Pulido, Amando</td>
                  <td>February 26, 2019 9:00am</td>
                </tr>
                <tr>
                  <td>200000002</td>
                  <td>Balce, Melner</td>
                  <td>February 25, 2019 9:00am</td>
                </tr>
                <tr>
                  <td>200000003</td>
                  <td>Ramos, Mae</td>
                  <td>February 25, 2019 9:10am</td>
                </tr>
              </tbody>
            </table>

            <div class="d-flex justify-content-between p-2">
              <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
              </ngb-pagination>
            </div>

          </ng-template>
        </ngb-tab> -->
      </ngb-tabset>
    </div>
  </div>

   <!-- MODAL CONTENT -->
   <ng-template #content let-modal let-c="close" let-d="dismiss">
      <div class="modal-header">
        <table>
          <tr>
            <td style="font-weight:bold;color:rgb(33,45,171);font-size:18px;">{{vData[indx].p_name}}</td>
          </tr>
          <tr>
            <td>{{vData[indx].p_studentid}}</td>
          </tr>
        </table>
        <button type="button" class="close" aria-label="Close" (click)="c()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p style="font-weight:bold;text-align:center;text-transform:uppercase;">Login Records</p>
        <table class="table table-striped">
          <tbody>
            <tr *ngFor="let s of stData; let i=index">
              <td>{{s.l_timelog |date:'MMMM dd, yyyy hh:mm a'}}</td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-between p-2">
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
          </ngb-pagination>
        </div>
      </div>
    </ng-template>