.card-header-style{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color:black;
}
.pad-top{
    padding-top: 10px;
}
.table-head{
    font-weight:bold;
    // font-size: 10px;
    text-transform: uppercase;
    color:rgb(100, 100, 100);
    
}
.page-title{
    letter-spacing:4px;
    background-color:rgb(33,45,171);
    color:white;
    font-family: Futura;
    font-size: 16px;
    text-align: center;
    font-weight:bold;
}
.mealHeader{
    background-color:rgb(33,45,171);
    text-align:center;
    color:white;
    font-weight:bold;
}
.menuList{
    font-weight:bold;
    color:white;

}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}