<div class="main-content">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" style="margin-top:120px;">
      <div class="card">
        <div class="row">
          <div class="col-md-6"
            style="background-color:rgb(33,45,171);text-align:center;padding-left:30px;padding-bottom:20px;color:white;text-transform:uppercase;">
            <img src="../../assets/img/rshs_logo1.png" style="padding-top:20px;"><br>
            <span>Regional Science High School III</span><br>
            <span>Attendance Monitoring System</span><br><br>
            <span style="font-weight:bold;">Admin Panel</span>
          </div>
          <div class="col-md-6" style="margin-top:50px;">
            <form (submit)="signIn($event);">
              <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                  <div class="form-group">
                    <h4 style="color:rgb(1,11,66);font-weight:bold;letter-spacing:6px;text-align:center;">
                      LOGIN</h4>
                    <input type="text" placeholder="Username" class="form-control" style="color:rgb(1,11,66);">
                    <input type="password" placeholder="Password" class="form-control">
                    <button type="submit" class="btn btn-block " style="letter-spacing:6px;">LOGIN</button><br>
                  </div>
                </div>
                <div class="col-lg-2"></div>
              </div>
            </form>
            <ngb-alert *ngIf="successMessage" [type]="typeclr" (close)="successMessage = null">
              {{ successMessage }}
            </ngb-alert>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>