<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="card page-title">
        <div class="card-header">
          <p>TOTAL DAILY LOGS</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <!-- TOTAL LOGINS -->
    <div class="col-lg-6">
      <div class="card ">
        <div class="card-header card-header-style">
          TOTAL LOGINS
        </div><br>
        <div class="card-body">
          <form (submit)="addItem($event)">
            <div class="row no-gutters">
              <div class="col-md-12">
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                      <h1 style="text-align:center;font-weight:bold;">{{vData[0].l_loggedin}}</h1>
                    </div>
                    <div class="col-lg-2"></div>
                  </div>
                </div>
              </div>
              <br>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                  <div>
                    <button type="submit" class="btn btn-block" routerLink="/loginLogs">View Detailed List</button>
                  </div>
                </div>
                <div class="col-md-2">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- TOTAL LOGOUTS -->
    <div class="col-lg-6">
        <div class="card ">
          <div class="card-header card-header-style">
            TOTAL LOGOUTS
          </div><br>
          <div class="card-body">
            <form (submit)="addItem($event)">
              <div class="row no-gutters">
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-2"></div>
                      <div class="col-lg-8">
                        <h1 style="text-align:center;font-weight:bold;">{{vData[0].l_loggedout}}</h1>
                      </div>
                      <div class="col-lg-2"></div>
                    </div>
                  </div>
                </div>
                <br>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-md-2">
                  </div>
                  <div class="col-md-8">
                    <div>
                      <button type="submit" class="btn btn-block" routerLink="/logoutLogs">View Detailed List</button>
                    </div>
                  </div>
                  <div class="col-md-2">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>