<div class="logo"><br>
    <div class="row no-gutter">
        <div class="col-lg-2"></div>
        <div class="col-lg-8" style="text-align:center;">
            <img src="./assets/img/rshsreg3_logo.png" alt="">
        </div>
        <div class="col-lg-2"></div>
    </div><br>
</div>
<!-- <div class="logo">
    <p style="font-family:Futura;letter-spacing:17px;text-align:center">LINDBERG</p><span></span>
</div>
<br><br><br> -->
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a [routerLink]="[menuItem.path]">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>